extends adminLayout

block content
  // Page Header
  header.page-header
    .container-fluid
      h2.no-margin-bottom  Edit Projects
  section.portfolio-admin-options.mt-0
    .container-fluid
      .row.flashes.d-flex.justify-content-center
        if locals.flashes 
          .row
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;

      .row.mt-2
        .col-sm-10.offset-sm-1
          table.table.table-striped
            thead.bg-secondary.text-white
              tr
                th(scope='col')
                  h2 Project Name
                th(scope='col')
                  h2 Photo
                th(scope='col')
                  h2 Category
                th(scope='col')
                  h2 Edit
                th(scope='col')
                  h2 Delete
            tbody
            each project in projects
              tr
                th(scope='row')
                  a(href=`/portfolio/details/${project.slug}` target='_blank')
                    h3 #{project.name}
                td
                  img(src=`/images/uploads/projectImgs/${project.photo}` width='30')
                td
                  h3 #{project.category}
                td
                  a.btn.btn-primary(href=`/portfolio-admin/${project._id}/edit`) Edit
                td
                  a.btn.btn-primary(href=`/portfolio-admin/${project._id}/delete`) Delete